/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */

body {
    font-family: roboto;
    background-color: #0b192f;
    margin: 0px 8px;
}

.post-1 {
    background: #9d27b0;
}

.post-2 {
    background: #9bb800;
}

.post-3 {
    background: #ed5120;
}

.post-4 {
    background: #9d27b0;
}

.post-5 {
    background: #2d95bb;
}


/* Your styles go here */

img {
    width: 100%;
}

.container {
    max-width: 715px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: #024161;
    padding: 0rem 0.7rem;
}

.branding {
    font-size: 1.4rem;
    font-weight: 100;
    color: #fff;
    margin: 1rem 0rem;
}

.branding .branding-part-2 {
    color: #d12767;
    font-weight: 300;
}

.header-nav {
    list-style: none;
    display: flex;
    padding-left: 0px;
    padding-right: 1rem;
    margin: 0rem 0rem;
    height: 100%;
    align-items: center;
}

.header-nav__item {
    padding: 0rem 0.9rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-nav__item a {
    color: #fff;
    text-decoration: none;
    font-size: 0.6rem;
}

.header-nav__item:hover {
    background-color: #1f52a4;
}

.central-container {
    display: flex;
    justify-content: space-between;
}

.posts-block {
    flex-basis: 74%;
}

.news-block {
    flex-basis: 24%;
}

.post {
    display: flex;
    max-height: 160px;
    position: relative;
}

.post__image {
    flex-basis: 51%;
    display: flex;
}

.post__image:hover {
    opacity: 70%;
}


.post__content {
    flex-basis: 49%;
    position: relative;
}

.post__content:hover {
    opacity: 40%;
}


.post__heading {
    margin-top: 0px;
    margin-bottom: 0rem;
    color: #fff;
    font-weight: 300;
    line-height: 1;
}

.post__text {
    font-size: 0.5rem;
    color: #fff;
    font-weight: 300;
    line-height: 1.6;
}

.post__content {
    box-sizing: border-box;
    padding: 1.2rem;
}

.post__footer {
    position: absolute;
    top: 0;
    right: 4px;
    margin-bottom: 0px;
    max-width: 2rem;
}

.page-footer {
    background-color: #024161;
}

.news {
    background-color: #fff;
}

.news__content {
    padding: 1rem;
}

.news__heading {
    margin-top: 0rem;
    font-weight: 300;
}

.news__text {
    margin-top: 0rem;
    font-weight: 300;
    font-size: 0.6rem;
    line-height: 1.5;
}

.last-post {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: 12.5rem;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem 10rem 1rem 1rem;
}

.last-post__image {
    position: absolute;
    top: -2rem;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.post__footer p {
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 100;
}

.post__footer .date {
    font-size: 2rem;
    margin: 0.2rem 0 0;
}

.post__footer .month {
    font-size: 1rem;
    margin: 0 0;
}

.post:nth-last-child(2n) {
    flex-direction: row-reverse;
    text-align: right;
}

.post:nth-last-child(2n) .post__footer {
    top: 0;
    left: 4px;
    margin-bottom: 0px;
}

.post-without-image .post__content {
    flex-basis: 100%;
    padding-right: 4rem;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    color: #aaa;
    font-weight: 300;
    font-size: 0.6rem;
}


.footer-container {
    margin-bottom: 0rem;
}

.page-footer__column-1 {
    flex-basis: 50%;
    padding: 1rem;
}

.page-footer__column-2 {
    flex-basis: 15%;
    padding: 1rem;
}

.mobile-menu {
    display: none;
}

@media (max-width:1400px) {
    .footer-container {
        margin-bottom: 0rem;
    }
}

@media (max-width:768px) {
    .page-header {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .header-nav {
        padding: 1rem 0rem 0rem 0rem;
    }

    .mobile-menu {
        display: block;
        color: #fff;
    }

    .header-nav__item {
        display: none;
    }

    .last-post__image {
        position: absolute;
        top: 0rem;
        left: 0;
        width: 100%;
        height: auto;
        z-index: -1;
    }

    .post {
        max-height: 480px;
    }

    .last-post__image img {
        width: 120%;
        float: right;
    }

    .last-post {
        padding-right: 1rem;
    }

    .post {
        flex-direction: column;
    }

    .post:nth-last-child(2n) {
        flex-direction: column;
        text-align: left;
    }

    .post:nth-last-child(2n) .post__footer {
        top: 0;
        right: 4px;
        left: auto;
    }

    .posts-block {
        flex-basis: 66%;
    }

    .news-block {
        flex-basis: 31%;
    }

    .post__heading {
        padding-right: 40px;
    }

    .post__text {
        padding-right: 40px;
    }

    .post-without-image .post__content {
        padding-bottom: 100px;
    }

    .post-without-image .post__content .post__heading,
    .post-without-image .post__content .post__text {
        padding-right: 0px;
    }

    .post-without-image .post__content {
        padding-right: 1rem;
    }

    .post-without-image .post__footer {
        bottom: 0;
        top: auto;
        left: 45%;
        right: auto;
    }

    .page-footer {
        padding: 2rem 0rem;
        flex-direction: column;
        text-align: center;
    }

    .page-footer__column-1,
    .page-footer__column-2 {
        padding: 0rem 0rem;
    }

    .page-footer__text {
        margin: 0;
        line-height: 2;
    }
}

@media (max-width:480px) {

    .last-post__image img {
        width: 190%;
        float: right;
    }

    .central-container {
        flex-direction: column;
    }

    .news {
        margin-bottom: 10px;
    }

    .page-footer {
        padding: 2rem 2rem;
    }

    .post .post__footer {
        right: 10px;
    }

    .post:nth-last-child(2n) .post__footer {
        right: 10px;
    }
}