/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
  background-color: var(--bg-color--dark);
  margin: 0px 8px;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */
img{width: 100%;}
.container{
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.container:last-child{
  margin-bottom: 0px;
}

.page-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color--header);
  padding: 0rem 0.7rem;
}

.branding{
  font-size: 2rem;
  font-weight: 100;
  color: #fff;
  margin: 1rem 0rem;
}
.branding .branding-part-2{
  color:#d12767;
  font-weight: 300;
}
.header-nav{
  list-style: none;
  display: flex;
  padding-left: 0px;
}
.header-nav__item{
  padding: 0rem 0.3rem;
}

.header-nav__item a{
    color: var(--link);
    text-decoration: none;
    font-size: 0.6rem;
}

.central-container{
  display: flex;
  justify-content: space-between;
}
.posts-block{
  flex-basis: 74%;
}
.news-block{
  flex-basis: 24%;
}
.post{
  display: flex;
}
.post__image{
  flex-basis: 51%;
}
.post__content{
  flex-basis: 49%;
  position: relative;
}
.page-footer{
  background-color: var(--bg-footer-color);
}