.header .header-wrap .landing-logo, .footer .footer-wrap .footer_logo {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .header .header-wrap .landing-logo img, .footer .footer-wrap .footer_logo img {
    padding-top: 5px;
    height: 45px;
    width: 45px; }
  .header .header-wrap .landing-logo p, .footer .footer-wrap .footer_logo p {
    font-family: "Fresca", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    font-size: 18pt;
    font-weight: 600;
    margin-left: 15px; }
    .header .header-wrap .landing-logo p span, .footer .footer-wrap .footer_logo p span {
      font-size: 7pt;
      margin-top: -4px;
      letter-spacing: 0.3px; }

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #21232e;
  width: 1920px;
  box-sizing: border-box; }

.header {
  color: #fff;
  background: center url("../img/m-h-night.jpg") no-repeat;
  background-size: cover;
  border-bottom-right-radius: 50em 18em; }
  .header a {
    color: #fff; }
  .header .header-wrap {
    padding: 15px 185px 176px 191px; }
    .header .header-wrap .landing-logo {
      color: #fff; }
    .header .header-wrap .header_heading {
      font-size: 54pt;
      font-weight: bold;
      width: 40%;
      line-height: 1;
      margin-bottom: 0.5em;
      position: relative;
      z-index: 2; }
      .header .header-wrap .header_heading::after {
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 0px;
        left: 0px;
        width: 303px;
        height: 50px;
        background-color: #ff4e33; }
    .header .header-wrap .header_text {
      font-family: "Fresca", sans-serif;
      letter-spacing: 0.2px;
      white-space: pre-line;
      line-height: 1.5; }
    .header .header-wrap div:last-child {
      margin-top: 60px; }
      .header .header-wrap div:last-child .header_button {
        color: #fff;
        background-color: #e3ac00;
        border-radius: 2px;
        padding: 14px 43px;
        font-size: 12.5pt;
        font-weight: bold;
        border: none;
        letter-spacing: -0.2px; }
      .header .header-wrap div:last-child .login {
        font-size: 15pt;
        font-weight: 300;
        margin-left: 150px; }

.section {
  position: relative;
  z-index: -1; }
  .section .section_text {
    position: relative;
    text-align: center;
    font-size: 32pt;
    font-weight: 600;
    margin-top: 0.85em;
    margin-bottom: 0.86em;
    letter-spacing: -0.3px;
    color: #fff; }
    .section .section_text::after {
      position: absolute;
      content: "";
      z-index: -1;
      bottom: 9px;
      left: 968px;
      width: 190px;
      height: 50px;
      background-color: #ff4e33; }
  .section .section_card_wrap {
    margin: 0 auto;
    width: 1116px;
    margin-bottom: 138px; }
  .section .section_card {
    margin-bottom: 25px;
    padding: 20px;
    background-color: #3b3f50;
    display: flex;
    align-items: center;
    border-radius: 5px; }
    .section .section_card .section_card_img {
      border-radius: 5px;
      width: 89%; }
    .section .section_card .section_card_right_container {
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column; }
      .section .section_card .section_card_right_container .section_card_heading {
        padding-bottom: 14px;
        font-size: 18pt;
        font-weight: 600; }
      .section .section_card .section_card_right_container .section_card_text {
        font-family: "Fresca", sans-serif;
        width: 72%;
        margin: 0 auto;
        text-align: justify;
        line-height: 1.5;
        color: #d1d1d1; }
      .section .section_card .section_card_right_container .section_link {
        padding-top: 15px;
        padding-bottom: 10px;
        color: #d1d1d1; }
  .section .section_banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1197px;
    background: linear-gradient(60deg, #dfa505, #942f50);
    border-radius: 6px;
    padding: 26px 160px 28px 160px;
    position: relative;
    z-index: -1; }
    .section .section_banner .section_banner_heading {
      position: relative;
      color: #fff;
      font-size: 23pt;
      font-weight: 700;
      margin-top: 0em;
      margin-bottom: 0.1em;
      letter-spacing: -0.2px; }
      .section .section_banner .section_banner_heading::after {
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 0px;
        left: 120px;
        width: 66px;
        height: 50px;
        background-color: #ff4e33; }
    .section .section_banner .section_banner_text {
      color: #d1d1d1;
      font-family: "Fresca", sans-serif;
      letter-spacing: 0.2px; }
    .section .section_banner .section_banner_button {
      color: #fff;
      background-color: #e3ac00;
      border-radius: 2px;
      padding: 14px 43px;
      font-size: 12.5pt;
      font-weight: bold;
      border: none;
      letter-spacing: -0.2px;
      height: 48px; }

.footer {
  background-color: #3b3f50;
  margin-top: -75px;
  padding-top: 115px;
  position: relative;
  z-index: -2;
  color: #d1d1d1;
  font-family: "Fresca", sans-serif; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 195px 60px 192px; }
    .footer .footer-wrap .footer_logo {
      color: #d1d1d1; }
    .footer .footer-wrap .footer_text {
      width: 300px;
      font-size: 10pt;
      line-height: 1.5;
      letter-spacing: 0.2px; }
