$mainBackgroundColor:#fff;

$headerTextColor:#2c2f3c;
$headerBackgroundImageUrl:"../img/m-h-day.jpg";
$contentBackgroungColor:#21232e;

$cardHeadingColor:#fff;
$cardContentColor:#c0c3ce;

$bannerGradientColor0:#639216;
$bannerGradientColor1:#2f5dd2;
$bannerHeaderColor:#2c2f3c;

$linkColor:#fff;
$mainButtonColor:#699900;
$wordBackgroundColor:#14a0c7;

$z-indexes:("deepest":-2,"deep":-1,"mid":0,"high":1,"highest":2);

@mixin word-bg($left,$bottom,$height,$width,$color){
    position: absolute;
    content:"";
    z-index: map-get($map: $z-indexes, $key: "deep");
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height; 
    background-color:$color;
}
@mixin link{
    color:$linkColor;
}
@mixin main-button{
    background-color: $mainButtonColor;
    border-radius: 2px;
    padding: 14px 43px;
    font-size: 12.5pt;
    font-weight: bold;
    border: none;
    letter-spacing: -0.2px;
}
@mixin logo-with-text{
    display: flex;
    flex-direction: row;
    img {
        padding-top: 5px;
        height: 45px;
        width: 45px;
    }
    p{
        font-family: 'Hind', sans-serif;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin:0;
        font-size: 18pt;
        font-weight: 600;
        margin-left: 15px;
        span{
            font-size: 7pt;
            margin-top: -4px;
            letter-spacing: 0.3px;
        }
    }
}
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $mainBackgroundColor;
    width:1920px;
    box-sizing: border-box;
}

.header {
    color: $headerTextColor;
    background: center url($headerBackgroundImageUrl) no-repeat;
    background-size: cover;
    border-bottom-right-radius: 50em 18em;
    a{
        @include link;
    }
    .header-wrap {
        padding: 15px 185px 176px 191px;
        .landing-logo {
          @include logo-with-text;
        }
        .header_heading{
            font-size: 54pt;
            font-weight: bold;
            width:40%;
            line-height: 1;
            margin-bottom: 0.5em;
            position: relative;
            z-index: map-get($map: $z-indexes, $key: "highest");
            &::after{
                @include word-bg(0px,0px,50px,303px,$wordBackgroundColor)
            }
        }
        .header_text{
            font-family: 'Hind', sans-serif;
            letter-spacing: 0.2px;
            white-space: pre-line;
            line-height: 1.5;
        }
        div:last-child{
            margin-top: 60px;
            .header_button{
                @include main-button;
            }
            .login{
                font-size: 15pt;
                font-weight: 300;
                margin-left: 150px;
            }
        }
    }
}
.section{
    position: relative;
    z-index: map-get($map: $z-indexes, $key: "deep");;
    .section_text{
        position: relative;
        text-align: center;
        font-size: 32pt;
        font-weight: 600;
        margin-top: 0.85em;
        margin-bottom: 0.86em;
        letter-spacing: -0.3px;
        color: $headerTextColor;
        &::after{
            @include word-bg(968px,9px,50px,190px,$wordBackgroundColor)
        }
    }
    .section_card_wrap{
        margin: 0 auto;
        width: 1116px;
        margin-bottom: 138px;
    }
    .section_card{
        margin-bottom: 25px;
        padding: 20px;
        background-color: $contentBackgroungColor;
        display: flex;
        align-items: center;
        border-radius:5px;
        .section_card_img{
            border-radius:5px;
            width: 89%;
        }
        .section_card_right_container{
            color:$cardHeadingColor;
            text-align: center;
            display: flex;
            flex-direction: column;
            .section_card_heading{
                padding-bottom: 14px;
                font-size: 18pt;
                font-weight: 600;
            }
            .section_card_text{
                font-family: 'Hind', sans-serif;   
                width: 72%;
                margin: 0 auto;
                text-align: justify;
                line-height: 1.5;
                color: $cardContentColor;
            }
            .section_link{
                padding-top: 15px;
                padding-bottom: 10px;
                color: $cardContentColor;
            }
        }
    }
    .section_banner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 0 auto;
        width: 1197px;
        background: linear-gradient(60deg, $bannerGradientColor0, $bannerGradientColor1);
        border-radius: 6px;
        padding:26px 160px 28px 160px;
        position: relative;
        z-index:  map-get($map: $z-indexes, $key: "deep");
        .section_banner_heading{
            position: relative;
            color:$bannerHeaderColor;
            font-size: 23pt;
            font-weight: 700;
            margin-top: 0em;
            margin-bottom: 0.1em;
            letter-spacing: -0.2px;
            &::after{
                @include word-bg(120px,0px,50px,66px,$wordBackgroundColor)
            }
        }
        .section_banner_text{
            color:$cardContentColor;
            letter-spacing: 0.2px;
        }
        .section_banner_button{
            @include main-button;
            height: 48px;
        }
        
    }
}
.footer{
    background-color: $contentBackgroungColor;
    margin-top: -75px;
    padding-top: 115px;
    position: relative;
    z-index: map-get($map: $z-indexes, $key: "deepest");
    color: $cardContentColor;
    font-family: 'Hind', sans-serif;
    .footer-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 195px 60px 192px;
        .footer_logo{
            @include logo-with-text;
        }
        .footer_text{
            width: 300px;
            font-size: 10pt;
            line-height: 1.5;
            letter-spacing: 0.2px;
        }
    }
}