$mainBackgroundColor:#fff;
$primaryFontFamily:'Source Sans Pro', sans-serif;
$secondaryFontFamily:'Hind', sans-serif;
$headerTextColor:#2c2f3c;
$headerBackgroundImageUrl:"../img/m-h-day.jpg";
$contentBackgroungColor:#21232e;

$cardHeadingColor:#fff;
$cardContentColor:#c0c3ce;

$bannerGradientColor0:#639216;
$bannerGradientColor1:#2f5dd2;
$bannerHeaderColor:#2c2f3c;

$linkColor:#fff;
$mainButtonColor:#699900;
$wordBackgroundColor:#14a0c7;
