$mainBackgroundColor:#21232e;
$primaryFontFamily:'Source Sans Pro', sans-serif;
$secondaryFontFamily:'Fresca', sans-serif;
$headerTextColor:#fff;
$headerBackgroundImageUrl:"../img/m-h-night.jpg";
$contentBackgroungColor:#3b3f50;

$cardHeadingColor:#fff;
$cardContentColor:#d1d1d1;

$bannerGradientColor0:#dfa505;
$bannerGradientColor1:#942f50;
$bannerHeaderColor:#fff;

$linkColor:#fff;
$mainButtonColor:#e3ac00;
$wordBackgroundColor:#ff4e33;
