.blocks .tm-team-description-container p:last-child {
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
}

.heading h2 {
    color: lightskyblue;
    font-weight: 300;
    text-align: center;
}

@media print {
    body {
        padding-top: 0px;
    }
    .tm-sidebar,
    .tm-team-img,
    #about,
    .gallery-container,
    .img-contact-us,
    #contact,
    .carousel-indicators {
        display: none;
    }
    .tm-team-description-container {
        text-align: center;
    }
    .tm-content-box {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .tm-team-description-container {
        max-width: 100%;
        padding: 0;
    }
    h2.tm-section-title {
        color: #62a1c7;
        text-transform: uppercase;
    }
    .tm-team-description-container {
        background-color: white;
    }
    .padding-medium h2 {
        color: #62a1c7;
    }
    .tm-footer {
        background-color: white;
    }
    .blocks {
        background-color: white;
    }
    .tm-section-description {
        padding: 0 35px;
        font-size: 13pt;
    }
    .padding-medium,
    .carousel,
    .tm-main-content {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .heading ol {
        list-style: none;
        padding: 0 150px;
    }
    .heading ol li:nth-of-type(2n+1) {
        text-align: right;
    }
}

@media screen {
    .tm-nav-item:hover {
        background-color: lightskyblue;
    }
    .tm-nav-item a:hover {
        color: #fff;
    }
    .tm-banner {
        background-image: linear-gradient(to right, lightskyblue, burlywood);
    }
    .tm-banner-inner {
        background-color: #fff;
    }
    @keyframes tm-banner-text-keyframes {
        to {
            left: 0;
        }
        from {
            left: 200px;
        }
    }
    .tm-banner-text {
        text-shadow: 4px 4px 2px #333;
        position: relative;
        animation: tm-banner-text-keyframes 3s;
    }
    .flex-2-col {
        display: flex;
        flex-direction: row;
    }
    .tm-team-description-container {
        width: 33%;
    }
    .blocks .tm-team-description-container {
        width: 100%;
    }
    .tm-section-title {
        text-align: center;
    }
    .blocks .tm-section-title {
        text-align: left;
    }
    .tm-section-description {
        text-indent: 35px;
        vertical-align: center;
    }
    .tm-team-img {
        width: 67%;
    }
    .box-bg:hover {
        background-color: lightgray;
        font-style: italic;
    }
    .heading li:hover::before {
        content: ">";
    }
    .heading ol {
        list-style-type: lower-alpha;
    }
    .heading li .text::after {
        content: "New";
        color: red;
        vertical-align: top;
        font-size: 8pt;
        font-weight: 700;
        font-variant: small-caps;
    }
}