.blocks .tm-team-description-container p:last-child {
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
}

.flex-2-col h2 {
    color: lightskyblue;
    text-align: center;
    font-weight: 300;
}

@media print {
    body {
        padding-top: 0px;
    }
    .tm-sidebar,
    .tm-team-img,
    #about,
    .gallery-container,
    .img-contact-us,
    #contact,
    .carousel-indicators {
        display: none;
    }
    .tm-team-description-container {
        text-align: center;
    }
    .tm-content-box {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .tm-team-description-container {
        max-width: 100%;
        padding: 0;
    }
    section h2 {
        color:  lightskyblue;
        text-transform: uppercase;
        font-weight: 300;
    }
    .tm-footer, .blocks, .tm-team-description-container {
        background-color: white;
    }
    .tm-section-description {
        padding: 0 35px;
    }
    .padding-medium,
    .carousel,
    .tm-main-content {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .heading ol {
        list-style: none;
        padding: 0 150px;
    }
    .heading ol li:nth-of-type(2n+1) {
        text-align: right;
    }
    .tm-content-box h2{
        padding-top: 18px;
        text-align: center;
    }
}

@media screen {
    .heading h2 {
        color: lightskyblue;
        font-weight: 400;
        text-align: center;
    }
    .tm-nav-item:hover {
        background-color: lightskyblue;
    }
    .tm-nav-item a:hover {
        color: #fff;
    }
    .tm-banner {
        background-image: linear-gradient(to right, lightskyblue, burlywood);
    }
    .tm-banner-inner {
        background-color: #fff;
    }
    @keyframes tm-banner-text-keyframes {
        to {
            left: 0;
        }
        from {
            left: 200px;
        }
    }
    .tm-banner-text {
        text-shadow: 4px 4px 3px #333;
        position: relative;
        animation: tm-banner-text-keyframes 3s;
    }
    .flex-2-col {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .tm-team-description-container {
        width: 33%;
    }
    .blocks .tm-team-description-container {
        width: 100%;
    }
    .blocks .tm-section-title {
        text-align: left;
    }
    .tm-section-description {
        vertical-align: center;
        text-indent: 25px;
        line-height: 30px;
    }
    .tm-team-img {
        width: 67%;
    }
    .box-bg:hover {
        background-color: lightgray;
        font-style: italic;
    }
    .heading li:hover::before {
        content: ">";
    }
    .heading ol {
        list-style-type: lower-alpha;
    }
    .heading li .text::after {
        content: "New";
        color: red;
        vertical-align: top;
        font-size: 8pt;
        font-weight: 700;
        font-variant: small-caps;
    }
    .box-work {
        padding: 10px;
    }
    .blocks .box-work  p::first-letter {
        font-weight: bold;
    }
    .blocks .box-work:nth-of-type(2n+1) {
        background-color: lightskyblue;
        color: white;
    }
    .form-group input:focus {
        background-color: lightskyblue;
    }
    .form-control {
        border: none;
        border-bottom: 1px solid lightskyblue;
    }
    .contact-form textarea,
    .btn {
        border: 1px solid lightskyblue;
    }
    .form-control[name="contact_message"]:focus {
        border: 1px solid lightskyblue;
        box-shadow: none;
    }
    .contact-form .btn {
        float: right;
        background-color: white;
        color: lightskyblue;
        padding: 15px 25px;
    }
    section,
    .tm-sidebar,
    #home {
        box-shadow: 0 0.9px 1em rgba(61, 55, 61, 0.7);
    }
    .form-group textarea {
        background: url(../img/email-icon.png) right 10px bottom 10px no-repeat;
        background-size:30px;
      }
    section::before {
        content: "";
        border-top: 40px solid lightskyblue;
        border-right: 40px solid transparent;
    }
}